* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  background-color: #fafafa;
  color: #2E2F42;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

#categories{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 24px;
}

.item{
  background-color: #F6F6FE;
  max-width: 360px;
  padding: 16px;
}

.item :first-child{} /*text*/

.item :last-child{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-item-input, #name-input, .item :last-child li, #name-input:active,
.form-item-input:active{
  border: 1px solid #808080;
  background-color: #FFFFFF;
  border-radius: 4px;
  line-height: 1.5; /*line-height=line-height(px) / font-size(px)*/
  font-size: 16px;
  letter-spacing: 0.04em; /* %/100 */
  padding: 7px 15px;
}

#name-input{
  width: 360px;
  margin-bottom: 16px;
}

#name-input::placeholder, .form-item, .color-text, .color{
  line-height: 1.5;/*line-height=line-height(px) / font-size(px)*/
  font-size: 16px;
  letter-spacing: 0.04em;/* %/100 */
}

.big-text{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  padding-bottom: 16px;
}

.gallery{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.gallery-image{
  display: block;
  max-width: 360px;
  max-height: 300px;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 360px;
}

.form-item{
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 72px;
}

.form-button, .change-color{
  width: 86px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 8px;
  padding: 8px 16px;
}

.change-color{
  width: 148px;
}

.change-color:hover, .form-button:hover{
  background-color: #6C8CFF;
}

#name-input:hover, .form-item-input:hover{
  border-color: #000000;
}

.widget{
  display: flex;
  flex-direction: column;
  align-items: center;
}